img {
    display: flex;
    width: 800px;
    height: 800px;
   object-fit: cover;
  }
  .box{
    background-color: transparent;
    
  >img{
        width: 250px;
        height: 250px;
    
    }
    
}



